body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

#captcha,
#blurry_captcha,
#color_captcha {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 5px solid transparent;
}

img.selected {
    border-color: black;
}

#container {
    width: 60%;
    text-align: left;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
    margin: 20px auto;
}