@font-face {
    font-family: 'nyt-cheltenham';
    src: url('fonts/cheltenham-normal-400.a3ed7afe3eaa0a873f3fbd379f8c491b.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'nyt-cheltenham';
    src: url('fonts/cheltenham-normal-700.530cfb72378419eedb60da7e266ad5f1.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: nyt-cheltenham;
    font-size: 24px;
    color: #EEEEEE;
    background: #1d1d1d;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

#captcha,
#blurry_captcha,
#color_captcha {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 5px solid transparent;
}

img.beatles {
    width: 420px;
    height: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img.selected {
    border-color: red;
}

#container {
    width: 60%;
    text-align: left;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
    margin: 20px auto;
}

.title {
    margin-top: 400px;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.2;
}

.byline {
    margin-top: 50px;
    margin-bottom: 550px;
    font-size: 24px;
    text-align: center;
}
